// Importando as variáveis global do site

@use '../../styles.scss' as *;

// Animação do modal

@keyframes fadeModal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Container do modal

.containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $cor-fundo-modal;

    // Estilização do modal

    .modal {
        background-color: #ffffff;
        color: $cor-fonte-escura;
        padding: 15px;
        border-radius: 25px;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeModal 0.5s ease-in-out forwards;
        overflow-y: auto;
        margin: 20px 0;
        max-height: 90vh;
    }

    .modal img {
        width: 500px;
        height: auto;
        border-radius: 20px;
    }

    // Estilização do botão

    .botao {
        text-align: center;
        margin-top: 40px;
    }

    .botao button {
        background-color: $cor-fundo-cabecalho;
        padding: 7px;
        width: 150px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    .botao button:hover {
        background-color: $cor-fonte-escura;
        color: $cor-fonte;
    }
}